<template>
  <div class="container">
    <div class="columns">
    <div class="column is-half is-offset-one-quarter">
    <form v-on:submit.prevent="sendAPICall" class="addSomeHSpace">

    <div class="field">
      <label class="label">Category</label>
      <div class="control">
        <div class="select force-middle">
          <select class="force-middle" v-model="categoryId">
            <option value="56aa371ce4b08b9a8d57356c">Bar</option>
            <option value="50327c8591d4c4b30a586d5d">Brewery</option>
            <option value="4bf58dd8d48988d14b941735">Winery</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Radius</label>
      <div class="control">
        <input class="input" v-model="radius" type="number" placeholder="500" value="500">
      </div>
    </div>

    <div class="field">
      <label class="label">Search by keyword</label>
      <div class="control">
        <input class="input" v-model="query" type="text" placeholder="Text input">
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-link" v-bind:class="{'is-loading' : loadingAPI}" :disabled="!checkForm" >Search</button>
      </div>
    </div>

    </form>
    </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import {store} from '../store.js'

  export default {
    name: "Form",
    data () {
      return {
        loadingAPI: false ,
        categoryId: "",
        radius: "500",
        query: ""


      }
    },
    computed: {
      checkForm () {
        return this.categoryId !== '' &&
            this.radius !== '';
      }
    },
    methods: {
      sendAPICall(){
        if (!this.checkForm) {
          return false;
        }
        let requestData = {
          categoryId: this.categoryId,
          radius: this.radius,
          query: this.query,
          client_id : "2TC0GHMY3FTKAY5Y3WSXWTYUT3EY0CL11DOTPSD5BELKYDVU",
          client_secret : "ISIT3PFVCZORCQA0J3YGFOJOQ1C3GUZPUDFUKL3LKGRR4O5N",
          v : "20170117",
          ll : "48.168088,17.138037"
        };
        this.loadingAPI = true;
        axios.get(`https://api.foursquare.com/v2/venues/search`,{params:requestData}).then((response) => {

          store.commit('onDataReceived',response);
          this.loadingAPI = false;
        });

      }
    }
  }
</script>

<style scoped>
.force-middle{
  width: 100%;
}
.addSomeHSpace{
  margin-bottom: 80px;
}
</style>
