<template>
  <div class="container" v-if="venues.length!==0">
    <div class="column is-8 is-offset-2 is-vcentered">
    <table id="fixedTable" class="table is-hoverable is-bordered">
      <thead>
        <th>Name</th>
        <th>Category</th>
        <th>Address</th>
        <th>Distance</th>
      </thead>
      <tbody>
        <tr v-if="venues" v-for="venue in venues" :key="venue.id">
          <td>{{venue.name}}</td>
          <td><span v-for="(cat,index) in venue.categories" v-bind:key="cat.id">{{cat.name}}<span v-if="index !== venue.categories.length -1">,</span></span></td>
          <td><span v-if="venue.location.address">{{venue.location.address}}, </span>{{venue.location.city}}</td>
          <td>{{venue.location.distance}}m</td>
        </tr>
      </tbody>
    </table>
    </div>

  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    name: "Table",
    computed: {
      ...mapGetters({
        venues: 'getDataReceived'
  })
    }
  }
</script>

<style scoped>


</style>