<template>
  <div id="app">
    <section class="section">
      <Form></Form>
      <Table></Table>
    </section>
  </div>
</template>

<script>
import Form from "./components/Form";
import Table from "./components/Table";

export default {
  name: 'app',
  components: {Table, Form}
}
</script>

<style lang="scss">
  @import '../node_modules/bulma/bulma.sass';
</style>


<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
